[Unit]
Description=VMware Virtual Machine Auto Start Script
#After=network.target
#Requires=network.target
Conflicts=shutdown.target
Before=shutdown.target default.target

[Service]
Type=oneshot
ExecStart=/opt/vmware-autostart/bin/autostart start
ExecStop=/opt/vmware-autostart/bin/autostart suspend
Restart=no
RemainAfterExit=yes
User=yourUserName
Group=yourUserNames

[Install]
WantedBy=default.target
